@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<!--About-->
<section class="space-section about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="img img-1 mr-md-2"
                     style="background-image: url(/Content/Image/about.jpg)"></div>
                <div class="img img-2 mr-md-2"
                     style="background-image: url(/Content/Image/about-1.jpg)"></div>
            </div>

            <div class="col-md-5">
                <div class="heading-section show-on-scroll">
                    <span class="subheading">ABOUT</span>
                    <h2>MTA's RESTAURANT</h2>
                </div>
                <p class="show-on-scroll">
                    Nằm ngay trên đoạn đường Hoàng Quốc Việt đầy nắng và gió, nơi mang
                    đến cho bạn những hương vị khó tả, quyện lẫn vào từng giác quan
                    trên cơ thể. Bạn chỉ cần chọn món và cảm nhận!
                </p>

                <pc class="time">
                    <span>
                        Mon - Sun
                        <strong>7AM - 22PM</strong>
                    </span>
                    <span>
                        <a href="#">+84 389 363 797 </a>
                    </span>
                </pc>
            </div>
        </div>
    </div>
</section>

<section class="counter-time">
    <div class="container">
        <div class="row">
            <div class="col-md-9 align-item-center show-on-scroll">
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="18">18</strong>
                                <span>NĂM KINH NGHIỆM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="100">100</strong>
                                <span>THỰC ĐƠN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="50">50</strong>
                                <span>NHÂN VIÊN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="15000">15000</strong>
                                <span>KHÁCH HÀNG HÀI LÒNG</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 show-on-scroll">
                <p>
                    Thời gian và những con số không nói dối. Sự chuyên nghiệp và tận
                    tuỵ chính là chìa khoá của sự thành công
                </p>
            </div>
        </div>
    </div>
</section>

<section class="space-section bg-light">
    <div class="container">
        <div class="row service">
            <div class="col-md-12 text-center show-on-scroll">
                <div class="heading-section">
                    <span class="subheading">DỊCH VỤ</span>
                    <h2 class="mb-4">ĐẲNG CẤP THƯỢNG HẠNG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 algin-stretch">
                <div class="block-6">
                    <div class="icon">
                        <i class="fas fa-birthday-cake"></i>
                    </div>
                    <div class="block-body show-on-scroll">
                        <h3>TỔ CHỨC SINH NHẬT</h3>
                        <p>
                            Những bữa tiệc sinh nhật luôn truyền cảm hứng cho chúng tôi
                            trong việc chuẩn bị , thiết kế, phục vụ
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 algin-stretch">
                <div class="block-6">
                    <div class="icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="block-body show-on-scroll">
                        <h3>HỌP MẶT</h3>
                        <p>
                            Nơi mang lại tự tin cho bạn trong những cuộc gặp Khẳng định
                            đẳng cấp và vị thế của bản thân.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 algin-stretch">
                <div class="block-6">
                    <div class="icon">
                        <i class="fas fa-glass-cheers"></i>
                    </div>
                    <div class="block-body show-on-scroll">
                        <h3>NHỮNG BỮA TIỆC</h3>
                        <p>
                            Vị ngon bất tận sẽ khiến những bữa tiệc dường như không có hồi
                            kết. Âm thanh, ánh sáng, những vũ công sẽ mang đến cho bạn kỷ
                            niệm tuyệt vời
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chef">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center heading-section show-on-scroll">
                <span class="subheading">Chef</span>
                <h2>Đầu bếp của chúng tôi</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="staff">
                    <img src="/Content/Image/chef-1.jpg" alt="CHELF" />
                    <div class="text pt-4">
                        <h3>Đinh Viết Đức</h3>
                        <span class="position mt-3 show-on-scroll">Bếp trưởng</span>
                        <ul class="icon-staff">
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram show-on-scroll"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="staff">
                    <img src="/Content/Image/chef-2.jpg" alt="CHELF" />
                    <div class="text pt-4">
                        <h3>Đậu Thị Liên</h3>
                        <span class="position mt-3 show-on-scroll">Bếp phó</span>
                        <ul class="icon-staff">
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram show-on-scroll"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="staff">
                    <img src="/Content/Image/chef-3.jpg" alt="CHELF" />
                    <div class="text pt-4">
                        <h3>Jack Sparrow</h3>
                        <span class="position mt-3 show-on-scroll">Đầu bếp 3 sao</span>
                        <ul class="icon-staff">
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram show-on-scroll"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="staff">
                    <img src="/Content/Image/chef-4.jpg" alt="CHELF" />
                    <div class="text pt-4">
                        <h3>Jenny Fai</h3>
                        <span class="position mt-3 show-on-scroll">Đầu bếp 4 sao</span>
                        <ul class="icon-staff">
                            <li>
                                <a href="#">
                                    <span class="fa fa-twitter show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-facebook show-on-scroll"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="fa fa-instagram show-on-scroll"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>