@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="contact">
    <div class="container">
        <div class="row d-flex align-item">
            <div class="col-md-6 pt-5 d-flex align-item-stretch">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.655957803058!2d105.78180021488372!3d21.04644768598885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3277f870d7%3A0xf27837785a779a8a!2zMjM2IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1600442317698!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-6 pt-5 pl-2 pb-2 md-5 show-on-scroll">
                <h2 class="h4 mb-2">Liên hệ</h2>
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên của bạn">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email hoặc số điện thoại ">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Chủ đề">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Lời nhắn"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gửi" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex contact-info show-on-scroll">
            <div class="col-md-12 mb-4">
                <h2 class="h4 font-weight-bold">THÔNG TIN LIÊN HỆ</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Địa chỉ:</span> 236 Hoàng Quốc Việt, Cổ Nhuế 1, Bắc Từ Liêm, Hà Nội</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>SĐT:</span> <a href="tel://0904752793">0904752793</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">jacksparrow551999@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span>Website</span> <a href="#">Mta's restaurant.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
