
@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using WebApplication1.Models;
@model List<MonAn> 

    <section class="menu">
        <div class="container-fluid">
            <div class="row">
                <div class="menubar col-md-2 marginchangesmall show-on-scroll">
                    <ul>
                        <li>
                            <h3>Thực đơn</h3>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'mon_dac_sac')" id="defaultOpen">
                                Món ăn
                                đặc sắc
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'mon_man')">Món mặn</a>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'mon_rau')">Món rau</a>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'do_uong')">Đồ uống</a>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'gia_vi')">Gia vị</a>
                        </li>
                        <li>
                            <a href="#" onclick="changeMenu(event, 'combo')">Combo</a>
                        </li>
                    </ul>
                </div>

                <div class="menufood col-md-10 marginchangebig">

                    <div id="mon_dac_sac" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                @foreach (MonAn mon in Model)
                                {
                                    <div class="col-md-12 col-lg-6 algin-stretch">
                                        <div class="menus d-flex">
                                            <img class="menu-img img" src="/Content/Image/@mon.HinhAnh">
                                            <div class="text ">
                                                <h3 class="food-name">@mon.TenMonAn</h3>
                                                <p class="price">@mon.GiaMon đ</p>
                                                <div class="order">
                                                    <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            </div>
                        </div>

                    <div id="mon_man" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/dinner-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/dinner-2.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Salad rau củ</h3>
                                            <p class="price">35000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Chuối</h3>
                                            <p class="price">15000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/dinner-3.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/dinner-4.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/dinner-5.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/dinner-6.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/dinner-1.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/dinner-4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="mon_rau" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/lunch-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/lunch-2.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Salad rau củ</h3>
                                            <p class="price">35000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Chuối</h3>
                                            <p class="price">15000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/lunch-3.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/lunch-4.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/lunch-5.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/lunch-6.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/lunch-1.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/lunch-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="do_uong" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/drink-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/drink-2.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Salad rau củ</h3>
                                            <p class="price">35000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Chuối</h3>
                                            <p class="price">15000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/drink-3.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/drink-4.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/drink-5.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/drink-6.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/drink-7.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/drink-1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="gia_vi" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/lunch-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/drink-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Salad rau củ</h3>
                                            <p class="price">35000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Chuối</h3>
                                            <p class="price">15000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/drink-6.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/insta-1.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/insta-2.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/insta-3.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/insta-5.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/insta-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="combo" class="tabcontent">
                        <div class="container">
                            <div class="row d-flex algin-stretch">
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/breakfast-1.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/breakfast-2.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Salad rau củ</h3>
                                            <p class="price">35000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Chuối</h3>
                                            <p class="price">15000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/breakfast-3.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/breakfast-4.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/breakfast-5.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <img class="menu-img img" src="/Content/Image/breakfast-6.jpg">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/breakfast-7.jpg">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 algin-stretch">
                                    <div class="menus d-flex">
                                        <div class="text ">
                                            <h3 class="food-name">Mỳ xào trứng</h3>
                                            <p class="price">25000đ</p>
                                            <div class="order">
                                                <button class=" btn-primary order-button" type="button">ĐẶT NGAY</button>

                                            </div>
                                        </div>
                                        <img class="menu-img img" src="/Content/Image/breakfast-8.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buy">
                    <div class="detail" id="bill">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-11">
                                    <h2 class="section-header">
                                        GIỎ HÀNG
                                    </h2>

                                </div>
                                <div class="col-md-1">
                                    <button class="fas fa-minus  minus-btn" onclick="closeBill()"></button>
                                </div>
                            </div>

                            <div class="cart-row">
                                <span class="cart-item cart-header cart-column">MÓN</span>
                                <span class="cart-price cart-header cart-column">TIỀN</span>
                                <span class="cart-quantity cart-header cart-column">SỐ LƯỢNG</span>
                            </div>
                            <div class="cart-items">
                                <!--
                                 <div class="cart-row">
                                  <div class="cart-item cart-column">
                                      <img class="cart-item-image" src="/Content/Image/breakfast-1.jpg" width="100" height="100">
                                      <span class="cart-item-title">Mỳ xào trứng </span>
                                  </div>
                                  <span class="cart-price cart-column">20000đ</span>

                                  <div class="cart-quantity cart-column">
                                      <input class="cart-quantity-input" type="number" value="1">
                                      <button class="btn-danger" type="button">HUỶ</button>
                                  </div>
                              </div>
                            -->

                            </div>
                            <div class="cart-total">
                                <strong class="cart-total-title">Tổng</strong>
                                <span class="cart-total-price"></span>
                            </div>
                            <button class="btn btn-primary btn-purchase" type="button">ĐẶT NGAY</button>
                        </div>
                    </div>
                    <a href="#bill" onclick="openBill()">
                        <div class="container">
                            <div class="row cart">
                                <div class="icon-cart">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    <span class="money">0đ</span>
                                </div>
                                <div class="text">Vui lòng đặt món ăn</div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
