body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-size: 17px;
}

div{
  display: block;
}

section{
  display: block;
}

header {
  position: relative;
  display: block;
  width: 100%;
  height: 780px;
}

/*Header design */
.ftco-navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255,255, 0.1);
  border-top: 1px solid rgba(255, 255,255, 0.1);
  
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3; /*cho noi chu len*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 18px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #fff;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #c8a97e;
}

.ftco-section{
  padding: 7em 0;
  position: relative;

}

.ftco_navbar.haha{
  position: fixed;
   top: 0px;
   left: 0px;
   z-index: 1000;
   box-shadow: 2px 5px 5px rgba(0,0,0,0.35);
   background: rgb(255, 255, 255) !important;
   transition: .3s all ease-out;
   height: 80px;
}

.ftco_navbar.haha .navbar-brand{
  color: #000000 !important;
}

.ftco_navbar.haha .nav-link{
  color: #000000 !important;
}

.ftco_navbar.haha .nav-item.active>a{
  color: #c8a97e !important;
}


.show-on-scroll{
  opacity: 0;
  transition: opacity .5s .25s ease-out;
  
}

.is-visible{
  opacity: 1;
  
}



.Tittle{
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-weight: 400;
  width: auto;
  margin-top: 18rem;
  margin-left: 35rem;
}

.Tittle_above{
  font-size: 80px;
  color: #c8a97e;
  font-weight: normal;
  font-family: 'Tangerine', serif;
  margin-bottom: 0;
  line-height: 1;
}

.Tittle_under{
  font-size: 40px;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;

}

/*Header design end*/

/*Back ground design*/


#myCarousel {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.7;
  display: block;
  z-index: 2;
  height: 780px;
}

.carousel-control-prev {
  z-index: 5;
}

.carousel-control-next {
  z-index: 5;
}

.carousel-inner img {
  background-size: cover;
  width: 100%;
  height: 780px;
  z-index: 1;
}
/*Back ground design end

/*About design*/
.space-section{
  padding: 7em !important;
  position: relative;
}

.about{
  background-position: bottom center !important;
}

.d-flex{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.about .col-md-7{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.about .img{
  width: 100%;
  height: 518px;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about .img-1{
  margin-top: -30px;
}

.mr-md-2{
  margin-right: 0.5rem !important;
}

/*gioi thieu*/
.heading-section{
  position: relative;
  margin-bottom: 1.5rem !important;
}

.heading-section .subheading{
  position: absolute;
    top: -64px;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 100px;
    display: block;
    margin-bottom: 0;
    color: #c8a97e;
    line-height: 1;
    font-family: "Great Vibes", cursive;
    margin-top: 0;
    z-index: -1;
}

.heading-section h2{
  font-size: 40px;
  margin-bottom: 1.5rem !important;
  margin-top: 0;
  font-weight: 900;
}

.col-md-5 p{
  margin-top: 28px;
  font-size: 22px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: lighter;
}

.col-md-5 .time span{
  display: block;
  margin-top: 47px;
  font-size: 20px;
}

.col-md-5 .time span a{
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #c8a97e;
}


/*End*/

/*Bo dem thoi gian*/
.counter-time{
  position: relative;
  z-index: -1;
  padding-bottom: 5em;
}

.align-item-center{
  align-items: center !important;
}



.block-18
{
  width: 100%;
  display: block;
}


.block-18 .number{
  font-weight: 700;
  font-size: 47px;
  color: #c8a97e;
  display: block;
  line-height: 1.5;
}

.block-18 .text span{
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.counter-time .col-md-3 p{
  line-height: 2;
  font: "Poppins", Arial, sans-serif;
}

/*End*/

/*Danh sach phuc vu*/
.service{
  justify-content: center;
  padding-bottom: 0.5rem !important;
  margin-bottom: 3rem !important;
  width: 100%;
}

.service .subheading{
  z-index: 0;
  line-height: 0em;
}


.block-6{
  width: 100%;
  display: block;
}

.block-6 .icon{
  font-size: 54px;
    color: #c8a97e;
    margin-bottom: 20px;
}

.block-body h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000000;
}

/*End*/


/*Chelf*/
.chef{
  position: relative;
  margin-top: 5rem;
}



.staff img{
  height: 320px;
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
}

.staff .text h3{
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.5;
}

.staff .text .position {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  display: block;
}

.staff .icon-staff {
  margin-bottom: 6rem;
  padding-left: 0;

}

.staff .icon-staff li{
  display: inline-block;
  list-style: none;
  margin-right: 40px;
}

.staff .icon-staff li a span{
  position: absolute;
  font-size: 20px;
  color: #c8a97e;
}


/*Blog*/

.blog-entry {
  background: #fff;
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  position: relative;
  display: block;
}

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px;
}

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.blog-entry .meta > div a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
}

.blog-entry .text .heading a {
  color: #000000;
}

.blog-entry .text .read {
  color: #000000;
  font-size: 14px;
}

.float-left {
  float: left !important;
}

.blog-entry .text .meta-chat {
  color: rgba(0, 0, 0, 0.3);
}


/*End*/
/*End About*/

/*Menu*/

.menu{
  margin-bottom: 200px;
}

.menubar{
  margin-top: 20px;
  float: left;
  width: 25%;
  background-color: darkseagreen;
  
}


.menufood{
  margin-top: 20px;
}

.menufood .col-lg-16, .col-md-12{
  margin-bottom: 20px;
}

.menubar ul{
    padding: 0px;
    margin-left: -14px;
    margin-right: -14px;
}

.menu .col-md-3{
  padding: 0;
}

.menubar ul h3{
  font-size: 1.2em;
    color: #FFF;
    padding: 10px;
    background: #467302;
    text-transform: uppercase;
    font-family: 'ambleregular';
    text-align: center;
}

.marginchangesmall{
  max-width: 14%;
  margin-left: 40px;
}

.marginchangebig{
  max-width: 86%;
}


.menubar ul li{
  display: list-item;
  list-style: none;
  text-align: center;
}

.menubar ul li a{
  display: block;
  font-size: 1.2rem;
  padding: 12px 15px;
  color:  rgb(255, 255, 255);
  text-decoration: none;
}

.menubar ul li a:hover{
  background-color:#c8a97e;
}

.menus{
  width: 100%;
}

.menu-img {
    width: 50%;
    display: block;
    height: auto;
}

.menus .text{
  display: block;
    width: 50%;
    padding: 30px 20px;
    border: 1px solid #e6e6e6;
    text-align: left;
}

.menu .text h3{
  font-weight: 600;
  font-family: "Poppins", Arial, sans-serif;
}

.menus .text .price{
  font-weight: 200;
}

.menus .text .order{
  margin-top: 20px;
  display: inline;
}

.menus .text button{
  background: #c8a97e;
border: none;
    color: #fff;
  padding: 9px 12px;
  text-align: center;
  display: inline-block;
}

.menus .text button:hover{
  text-decoration: none;
  background-color: #fff;
  color: #c8a97e;
}


.menus .text .amount{
 display: inline-block;
 float: right;
 padding: 9px 12px;
}

.menus .text .amount button{
  border-radius: 50%;
  background-color: red;
}

.menus .text .amount button:active{
  background-color: royalblue;
}

.menus .text .amount span{
  margin-left: 2px;
  margin-right: 2px;
}


/*gio hang*/
.buy{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 35%;
  border: #467302 5px solid;
z-index: 5;
}

.buy a{
  text-decoration: none;
}




.buy .cart{
  height: 50px;
  background-color: #F28705;
  color: #FFF;
}

.buy .row .icon-cart{
  width: 50%;
  padding: 10px;
}

.buy .row .icon-cart span{
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}

.buy .row .text{
  width: 50%;
  padding: 12px;
  text-align: center;
}

.detail{
  height: 500px;
  background-color:#fff;
  display: none;
  overflow-y: scroll;
}


#bill > div > div.row > div.col-md-11{
  padding: 0;
}

#bill > div > div.row > div.col-md-1{
  padding: 0;
}


.detail h2 {
  font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2em;
}

.detail .second{
  padding-right: 0;
  padding-top: 0;
}


.cart-header {
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 0.9em;
  color: #333;
}

.cart-total-one {
    width: 20% ;
    font-size: 0.7em;
    color: #333;
}

.cart-quantity {
  width: 15%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.2em;
}





/*End menu*/


/*Contact*/
.contact h2{
  font-size: 40px;
  font-weight: 800;
}

.contact form{
  margin-top: 3rem;
}

.contact .form-group{
  margin-bottom: 1rem;
}

.btn{
  background-color: #c8a97e;
  border-color: #c8a97e;
}

.btn:hover{
  background-color: #fff;
  color: #c8a97e;
  border-color: #c8a97e;
}

.contact-section .contact-info p a{
  color: #c8a97e;
}


/*End contact*/


/*Footer design*/
footer {
  margin-top: 10px;
  position: relative;
  display: block;
  z-index: 3;
  border: solid;
  background-color: #141313;
  color: #fff;
  padding: 6em;
}

.icon{
  margin-top: 2rem;
}

.icon li{
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 0;
}

.icon li a{
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.icon li a span{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 27%;
  font-size: 20px;

}

.footer-heading {
  margin-bottom: 40px;
}

/*Open hourdesign*/
.open-hours-list{
  list-style: none;
  /* text-align: left; */
  padding-left: 0;
}

.open-hours-item {
  display: flex;
}

.open-hours-item span{
  width: 100%;
}

/*End*/


/*Instagrm design*/
.thumb{
  position: relative;
  width: 100%;
  height: 100px;
}

.d-small-fex{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
}



footer .thumb .thumb-menu{
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

/*End*/

/*Newsletter design*/
footer .form-group input{
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
}

footer .form-group .submit{
  color: #fff !important;
  font-size: 16px;
  background: #c8a97e !important;
  border: none !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}



/*End*/

.bg-light {
  background: #fafafa !important; 
}

.img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.col-md-6, .col-md-12{
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-3, .col-lg-6{
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-5{
  margin-bottom: 3rem !important;
  display: flex;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

.mb-2{
  margin-bottom: 0.5rem !important;
}

.pt-5, .py-5{
  padding-top: 3rem !important;
}

.pl-2, .py-2{
  padding-left: 3.5rem !important;
}

.pr-2, .px-2{
  padding-right: 0.5rem !important;
}

.text-center{
  text-align: center !important;
}

.algin-stretch{
  align-self: stretch !important;
  text-align: center;
}

.footer-heading{
  
}


.mb-5{
  margin-bottom: 3rem !important;
  display: flex;
}