@using WebApplication1.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model List<MonAn>


@foreach (MonAn i in Model)
{
    <div >
        <h3 class="food-name">@i.TenMonAn</h3>
        <p class="price">@i.GiaMon đ</p>

    </div>
    <img class="menu-img img" src="/Content/Image/@i.HinhAnh">
}
