@using WebApplication1.Models
@{
    ViewBag.Title = "Phản hồi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model PhanHoi

<section class="ftco-section">
    <div class="container">
        <h2 class="mb-3">@Model.ChuDe</h2>
        <p>
            @Model.LoiNhan
        </p>
        <img src="~/Content/Image/image_1.jpg" alt="" class="img-fluid">
    </div>


         
</section>


